<!doctype html>
<html>
  <%- include('head', {page: 'Your Badges'}) %>
  <body>
    <h1>Your Stinking Badges</h1>
    <div class='badges grid'>
      <% profileJSON.badges.forEach(function(badge) { %>
        <% var fixedUrl = badge.icon_url.split('').slice(45); %>
        <% fixedUrl = '/img/badges/' + fixedUrl.join(''); %>
        <div class='grid-item'>
          <figure>
            <a href='<%= badge.url %>'>
              <img class='badgeImage' src='<%= fixedUrl %>' alt='<%= badge.name %>' data-hue='<% badge.color %>'>
            </a>
          </figure>
        </div>
      <% }); %>
    </div>
    <div class='withHues'></div>
    <%- include('javascripts') %>
    <script src='/lib/isotope/dist/isotope.pkgd.min.js'></script>
    <script src="/lib/tinycolor/dist/tinycolor-min.js"></script>
    <script src="/lib/color-thief.js"></script>
    <script src='/js/setBg.js'></script>
  </body>
</html>
